In [1]:
import numpy as np
import pandas as pd

In [2]:
s1617 = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction-using-ml-techniques\data\Premier League\Season 2016-2017.csv')

understats = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction-using-ml-techniques\data\understat_per_game.csv')

In [3]:
s1617 = s1617[['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG','HTHG','HTAG', 'FTR',
              'HS', 'AS', 'HST','AST','HC','AC', 'HF', 'AF', 'B365H', 'B365A', 'B365D',
               'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA']].reset_index(drop=True)

In [5]:
s1617.shape

(380, 28)

In [8]:
s1617.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,FTR,HS,AS,...,B365D,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA
0,13/08/16,Burnley,Swansea,0,1,0,0,A,10,17,...,3.3,2.47,3.32,3.19,2.50,3.20,2.90,2.50,3.2,3.25
1,13/08/16,Crystal Palace,West Brom,0,1,0,0,A,14,13,...,3.3,2.06,3.29,4.32,2.05,3.10,4.00,2.00,3.3,4.40
2,13/08/16,Everton,Tottenham,1,1,1,0,D,12,13,...,3.4,3.25,3.43,2.37,3.10,3.10,2.40,3.25,3.4,2.38
3,13/08/16,Hull,Leicester,2,1,1,0,H,14,18,...,3.6,4.43,3.55,1.95,4.20,3.25,1.95,4.40,3.5,1.95
4,13/08/16,Man City,Sunderland,2,1,1,0,H,16,7,...,6.5,1.27,6.48,13.15,1.25,5.50,13.00,1.25,6.5,15.00

In [10]:
s1617['Date'] = pd.to_datetime(s1617['Date'],format="%d/%m/%y")

In [11]:
understats['Date'] = pd.to_datetime(understats['date']).dt.strftime("%Y-%m-%d")
understats['Date'] = pd.to_datetime(understats['Date'])

In [12]:
understats =understats.replace({'team':{'Aston Villa':'Aston Villa',
       'Everton':'Everton', 'Southampton':'Southampton', 'Leicester':'Leicester', 'West Bromwich Albion':'West Brom',
       'Sunderland':'Sunderland', 'Crystal Palace':'Crystal Palace', 'Chelsea':'Chelsea', 'West Ham':'West Ham', 'Tottenham':'Tottenham',
       'Arsenal':'Arsenal', 'Swansea':'Swansea', 'Stoke':'Stoke', 'Newcastle United':'Newcastle', 'Liverpool':'Liverpool',
       'Manchester City':'Man City', 'Manchester United':'Man United', 'Hull':'Hull', 'Burnley':'Burnley',
       'Queens Park Rangers':'QPR', 'Bournemouth':'Bournemouth', 'Norwich':'Norwich', 'Watford':'Watford',
       'Middlesbrough':'Middlesbrough', 'Huddersfield':'Huddersfield', 'Brighton':'Brighton', 'Cardiff':'Cardiff', 'Fulham':'Fulham',
       'Wolverhampton Wanderers':'Wolves'}})

In [17]:
df = pd.merge(s1617,understats, how='left',left_on=['Date','HomeTeam'],right_on=['Date','team'])

In [20]:
df.rename(columns = {'xG':"HxG", 'xGA':'AxG','deep':'Hdeep','deep_allowed':'Adeep',
                     'ppda_coef':'Hppda_coef','oppda_coef':'Appda_coef'},inplace=True)

df = df.drop(['npxG','npxGA','scored', 'missed', 'xpts', 'result', 'wins',
              'draws', 'loses', 'pts', 'npxGD', 'ppda_att', 'ppda_def',
              'oppda_att', 'oppda_def', 'team', 'xG_diff', 'xGA_diff',
              'xpts_diff', 'date', 'year','h_a'],axis=1)

In [22]:
# Calculating the average of betting sites odd for each result
avgH = round((df['B365H'] + df['PSH'] + df['WHH'] + df['VCH'])/4,2)
avgD = round((df['B365D'] + df['PSD'] + df['WHD'] + df['VCD'])/4,2)
avgA = round((df['B365A'] + df['PSA'] + df['WHA'] + df['VCA'])/4,2)

df['AVGH'] = avgH
df['AVGD'] = avgD
df['AVGA'] = avgA

#drop the existing columns with betting odds
df = df.drop(['PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 
              'VCD', 'VCA', 'B365H', 'B365D', 'B365A'],axis=1)

In [23]:
df['season'] = '2016/2017'

In [24]:
df[df['league'].isnull()]

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,FTR,HS,AS,...,HxG,AxG,Hdeep,Adeep,Hppda_coef,Appda_coef,AVGH,AVGD,AVGA,season
99,2016-10-31,Stoke,Swansea,3,1,1,1,H,17,14,...,NaN,NaN,NaN,NaN,NaN,NaN,2.08,3.56,3.76,2016/2017
119,2016-11-21,West Brom,Burnley,4,0,3,0,H,16,5,...,NaN,NaN,NaN,NaN,NaN,NaN,1.94,3.35,4.63,2016/2017
139,2016-12-05,Middlesbrough,Hull,1,0,0,0,H,16,6,...,NaN,NaN,NaN,NaN,NaN,NaN,1.82,3.49,5.26,2016/2017
152,2016-12-14,Crystal Palace,Man United,1,2,0,1,A,6,16,...,NaN,NaN,NaN,NaN,NaN,NaN,5.25,4.02,1.70,2016/2017
153,2016-12-14,Man City,Watford,2,0,1,0,H,13,5,...,NaN,NaN,NaN,NaN,NaN,NaN,1.27,6.48,12.06,2016/2017
155,2016-12-14,Stoke,Southampton,0,0,0,0,D,5,15,...,NaN,NaN,NaN,NaN,NaN,NaN,3.21,3.25,2.45,2016/2017
157,2016-12-14,Tottenham,Hull,3,0,1,0,H,27,10,...,NaN,NaN,NaN,NaN,NaN,NaN,1.24,6.46,14.25,2016/2017
158,2016-12-14,West Brom,Swansea,3,1,0,0,H,13,8,...,NaN,NaN,NaN,NaN,NaN,NaN,2.05,3.45,3.98,2016/2017
169,2016-12-19,Everton,Liverpool,0,1,0,0,A,6,11,...,NaN,NaN,NaN,NaN,NaN,NaN,4.22,3.68,1.92,2016/2017
180,2016-12-30,Hull,Everton,2,2,1,1,D,13,20,...,NaN,NaN,NaN,NaN,NaN,NaN,4.28,3.46,1.97,2016/2017
197,2017-01-03,Crystal Palace,Swansea,1,2,0,1,A,7,11,...,NaN,NaN,NaN,NaN,NaN,NaN,1.80,3.59,4.94,2016/2017
198,2017-01-03,Stoke,Watford,2,0,1,0,H,17,9,...,NaN,NaN,NaN,NaN,NaN,NaN,1.87,3.50,4.54,2016/2017
199,2017-01-04,Tottenham,Chelsea,2,0,1,0,H,9,11,...,NaN,NaN,NaN,NaN,NaN,NaN,2.78,3.28,2.66,2016/2017

In [25]:
index = df.loc[df['HxG'].isnull()].index

In [27]:
#We are going to fill the missing values manually using the site understats.com
#Stoke - Swansea
df.loc[index[0],'HxG'] = 2.16
df.loc[index[0],'AxG'] = 1.10
df.loc[index[0],'Hdeep'] = 10
df.loc[index[0],'Adeep'] = 4
df.loc[index[0],'Hppda_coef'] = 17.93
df.loc[index[0],'Appda_coef'] = 7.88

#West Brom - Burnley
df.loc[index[1],'HxG'] = 1.41
df.loc[index[1],'AxG'] = 0.57
df.loc[index[1],'Hdeep'] = 3
df.loc[index[1],'Adeep'] = 2
df.loc[index[1],'Hppda_coef'] = 21.43
df.loc[index[1],'Appda_coef'] = 8.73

#Middlesbrough - Hull
df.loc[index[2],'HxG'] = 1.95
df.loc[index[2],'AxG'] = 0.22
df.loc[index[2],'Hdeep'] = 6
df.loc[index[2],'Adeep'] = 3
df.loc[index[2],'Hppda_coef'] = 11.27
df.loc[index[2],'Appda_coef'] = 28.42

#Crystal Palace - Man United
df.loc[index[3],'HxG'] = 0.71
df.loc[index[3],'AxG'] = 1.27
df.loc[index[3],'Hdeep'] = 3
df.loc[index[3],'Adeep'] = 13
df.loc[index[3],'Hppda_coef'] = 16.21
df.loc[index[3],'Appda_coef'] = 7.69

#Man City - Watford
df.loc[index[4],'HxG'] = 1.62
df.loc[index[4],'AxG'] = 0.50
df.loc[index[4],'Hdeep'] = 12
df.loc[index[4],'Adeep'] = 1
df.loc[index[4],'Hppda_coef'] = 3.40 
df.loc[index[4],'Appda_coef'] = 12.33

#Stoke - Southampton
df.loc[index[5],'HxG'] = 0.33
df.loc[index[5],'AxG'] = 0.72
df.loc[index[5],'Hdeep'] = 1
df.loc[index[5],'Adeep'] = 15
df.loc[index[5],'Hppda_coef'] = 56.75
df.loc[index[5],'Appda_coef'] = 3.15

#Tottenham - Hull
df.loc[index[6],'HxG'] = 2.83
df.loc[index[6],'AxG'] = 0.57
df.loc[index[6],'Hdeep'] = 9
df.loc[index[6],'Adeep'] = 3
df.loc[index[6],'Hppda_coef'] = 16.73
df.loc[index[6],'Appda_coef'] = 15.30

#West Brom - Swansea
df.loc[index[7],'HxG'] = 1.78
df.loc[index[7],'AxG'] = 1.07
df.loc[index[7],'Hdeep'] = 2
df.loc[index[7],'Adeep'] = 1
df.loc[index[7],'Hppda_coef'] = 15.00
df.loc[index[7],'Appda_coef'] = 10.06

#Everton Liverpool
df.loc[index[8],'HxG'] = 0.46
df.loc[index[8],'AxG'] = 1.88
df.loc[index[8],'Hdeep'] = 1
df.loc[index[8],'Adeep'] = 17
df.loc[index[8],'Hppda_coef'] = 14.57
df.loc[index[8],'Appda_coef'] = 5.76

#Hull Everton
df.loc[index[9],'HxG'] = 0.85
df.loc[index[9],'AxG'] = 1.28
df.loc[index[9],'Hdeep'] = 4
df.loc[index[9],'Adeep'] = 9
df.loc[index[9],'Hppda_coef'] = 12
df.loc[index[9],'Appda_coef'] = 7.64

#Crystal-Palace Swansea
df.loc[index[10],'HxG'] = 0.33
df.loc[index[10],'AxG'] = 1.19
df.loc[index[10],'Hdeep'] = 3
df.loc[index[10],'Adeep'] = 5
df.loc[index[10],'Hppda_coef'] = 7.52
df.loc[index[10],'Appda_coef'] = 11.10

#Stoke-Watford
df.loc[index[11],'HxG'] = 1.85
df.loc[index[11],'AxG'] = 0.51
df.loc[index[11],'Hdeep'] = 4
df.loc[index[11],'Adeep'] = 8
df.loc[index[11],'Hppda_coef'] = 12.00
df.loc[index[11],'Appda_coef'] = 7.96

#Tottenham-Chelsea
df.loc[index[12],'HxG'] = 1.01
df.loc[index[12],'AxG'] = 0.91
df.loc[index[12],'Hdeep'] = 1
df.loc[index[12],'Adeep'] = 6
df.loc[index[12],'Hppda_coef'] = 11.07
df.loc[index[12],'Appda_coef'] = 13.42

In [28]:
df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,FTR,HS,AS,...,HxG,AxG,Hdeep,Adeep,Hppda_coef,Appda_coef,AVGH,AVGD,AVGA,season
0,2016-08-13,Burnley,Swansea,0,1,0,0,A,10,17,...,1.049030,1.720890,5.0,2.0,10.952381,10.312500,2.47,3.26,3.15,2016/2017
1,2016-08-13,Crystal Palace,West Brom,0,1,0,0,A,14,13,...,0.990062,0.684593,4.0,5.0,4.260870,7.076923,2.03,3.25,4.30,2016/2017
2,2016-08-13,Everton,Tottenham,1,1,1,0,D,12,13,...,0.790063,1.123480,5.0,8.0,7.419355,5.411765,3.20,3.33,2.39,2016/2017
3,2016-08-13,Hull,Leicester,2,1,1,0,H,14,18,...,0.740018,2.456310,0.0,5.0,17.866667,11.280000,4.38,3.48,1.94,2016/2017
4,2016-08-13,Man City,Sunderland,2,1,1,0,H,16,7,...,1.954790,1.098770,11.0,4.0,5.428571,16.000000,1.25,6.24,14.04,2016/2017

In [29]:
df.to_csv('epl-1617.csv', index=False)