In [1]:
import numpy as np
import pandas as pd

In [2]:
s1718 = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction-using-ml-techniques\data\Premier League\Season 2017-2018.csv')

understats = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction-using-ml-techniques\data\understat_per_game.csv')

In [4]:
s1718 = s1718[['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG','HTHG','HTAG', 'FTR',
              'HS', 'AS', 'HST','AST','HC','AC', 'HF', 'AF', 'B365H', 'B365A', 'B365D',
               'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA']].reset_index(drop=True)

In [5]:
s1718.shape

(380, 28)

In [6]:
s1718.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,FTR,HS,AS,...,B365D,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA
0,11/08/2017,Arsenal,Leicester,4,3,2,2,H,27,6,...,4.5,1.53,4.55,6.85,1.53,4.2,6.00,1.53,4.50,6.50
1,12/08/2017,Brighton,Man City,0,2,0,0,A,6,14,...,5.5,10.95,5.55,1.34,10.00,4.8,1.33,10.00,5.50,1.33
2,12/08/2017,Chelsea,Burnley,2,3,0,3,A,19,10,...,6.5,1.26,6.30,15.25,1.25,5.5,13.00,1.25,6.25,15.00
3,12/08/2017,Crystal Palace,Huddersfield,0,3,0,2,A,14,8,...,3.6,1.83,3.58,5.11,1.80,3.3,5.00,1.83,3.60,5.00
4,12/08/2017,Everton,Stoke,1,0,1,0,H,9,9,...,3.8,1.70,3.83,5.81,1.70,3.5,5.50,1.70,3.80,5.75

In [8]:
s1718['Date'] = pd.to_datetime(s1718['Date'],format="%d/%m/%Y")

In [9]:
understats['Date'] = pd.to_datetime(understats['date']).dt.strftime("%Y-%m-%d")
understats['Date'] = pd.to_datetime(understats['Date'])

In [10]:
s1718.isnull().sum()

Date        0
HomeTeam    0
AwayTeam    0
FTHG        0
FTAG        0
HTHG        0
HTAG        0
FTR         0
HS          0
AS          0
HST         0
AST         0
HC          0
AC          0
HF          0
AF          0
B365H       0
B365A       0
B365D       0
PSH         0
PSD         0
PSA         0
WHH         0
WHD         0
WHA         0
VCH         0
VCD         0
VCA         0
dtype: int64

In [11]:
understats =understats.replace({'team':{'Aston Villa':'Aston Villa',
       'Everton':'Everton', 'Southampton':'Southampton', 'Leicester':'Leicester', 'West Bromwich Albion':'West Brom',
       'Sunderland':'Sunderland', 'Crystal Palace':'Crystal Palace', 'Chelsea':'Chelsea', 'West Ham':'West Ham', 'Tottenham':'Tottenham',
       'Arsenal':'Arsenal', 'Swansea':'Swansea', 'Stoke':'Stoke', 'Newcastle United':'Newcastle', 'Liverpool':'Liverpool',
       'Manchester City':'Man City', 'Manchester United':'Man United', 'Hull':'Hull', 'Burnley':'Burnley',
       'Queens Park Rangers':'QPR', 'Bournemouth':'Bournemouth', 'Norwich':'Norwich', 'Watford':'Watford',
       'Middlesbrough':'Middlesbrough', 'Huddersfield':'Huddersfield', 'Brighton':'Brighton', 'Cardiff':'Cardiff', 'Fulham':'Fulham',
       'Wolverhampton Wanderers':'Wolves'}})

In [13]:
df = pd.merge(s1718,understats, how='left',left_on=['Date','HomeTeam'],right_on=['Date','team'])

In [14]:
df.rename(columns = {'xG':"HxG", 'xGA':'AxG','deep':'Hdeep','deep_allowed':'Adeep',
                     'ppda_coef':'Hppda_coef','oppda_coef':'Appda_coef'},inplace=True)

df = df.drop(['npxG','npxGA','scored', 'missed', 'xpts', 'result', 'wins',
              'draws', 'loses', 'pts', 'npxGD', 'ppda_att', 'ppda_def',
              'oppda_att', 'oppda_def', 'team', 'xG_diff', 'xGA_diff',
              'xpts_diff', 'date', 'year','h_a'],axis=1)

In [15]:
df.isnull().sum()

Date          0
HomeTeam      0
AwayTeam      0
FTHG          0
FTAG          0
HTHG          0
HTAG          0
FTR           0
HS            0
AS            0
HST           0
AST           0
HC            0
AC            0
HF            0
AF            0
B365H         0
B365A         0
B365D         0
PSH           0
PSD           0
PSA           0
WHH           0
WHD           0
WHA           0
VCH           0
VCD           0
VCA           0
league        0
HxG           0
AxG           0
Hdeep         0
Adeep         0
Hppda_coef    0
Appda_coef    0
dtype: int64

In [16]:
# Calculating the average of betting sites odd for each result
avgH = round((df['B365H'] + df['PSH'] + df['WHH'] + df['VCH'])/4,2)
avgD = round((df['B365D'] + df['PSD'] + df['WHD'] + df['VCD'])/4,2)
avgA = round((df['B365A'] + df['PSA'] + df['WHA'] + df['VCA'])/4,2)

df['AVGH'] = avgH
df['AVGD'] = avgD
df['AVGA'] = avgA

#drop the existing columns with betting odds
df = df.drop(['PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 
              'VCD', 'VCA', 'B365H', 'B365D', 'B365A'],axis=1)

In [17]:
df['season'] = '2017/2018'

In [18]:
df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,FTR,HS,AS,...,HxG,AxG,Hdeep,Adeep,Hppda_coef,Appda_coef,AVGH,AVGD,AVGA,season
0,2017-08-11,Arsenal,Leicester,4,3,2,2,H,27,6,...,2.543290,1.464950,13,2,5.444444,13.545455,1.53,4.44,6.46,2017/2018
1,2017-08-12,Brighton,Man City,0,2,0,0,A,6,14,...,0.276343,1.867510,2,18,67.333333,5.444444,10.49,5.34,1.33,2017/2018
2,2017-08-12,Chelsea,Burnley,2,3,0,3,A,19,10,...,1.356510,0.564237,4,3,9.944444,23.750000,1.25,6.14,14.56,2017/2018
3,2017-08-12,Crystal Palace,Huddersfield,0,3,0,2,A,14,8,...,0.988934,1.736570,3,5,6.500000,6.906250,1.82,3.52,5.03,2017/2018
4,2017-08-12,Everton,Stoke,1,0,1,0,H,9,9,...,0.720574,0.276440,3,9,6.190476,14.450000,1.70,3.73,5.70,2017/2018

In [19]:
df.to_csv('epl-1718.csv', index=False)