In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.options.mode.chained_assignment = None

In [3]:
s1213 = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction\data\Fixtures\Bundesliga\D1-1213.csv')
s1314 = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction\data\Fixtures\Bundesliga\D1-1314.csv')
s1415 = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction\data\Fixtures\Bundesliga\D1-1415.csv')
s1516 = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction\data\Fixtures\Bundesliga\D1-1516.csv')
s1617 = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction\data\Fixtures\Bundesliga\D1-1617.csv')
s1718 = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction\data\Fixtures\Bundesliga\D1-1718.csv')
s1819 = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction\data\Fixtures\Bundesliga\D1-1819.csv')
s1920 = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction\data\Fixtures\Bundesliga\D1-1920.csv')
s2021 = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction\data\Fixtures\Bundesliga\D1-2021.csv')
s2122 = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction\data\Fixtures\Bundesliga\D1-2122.csv')

In [4]:
s1213['season'] = '2012/2013'
s1314['season'] = '2013/2014'
s1415['season'] = '2014/2015'
s1516['season'] = '2015/2016'
s1617['season'] = '2016/2017'
s1718['season'] = '2017/2018'
s1819['season'] = '2018/2019'
s1920['season'] = '2019/2020'
s2021['season'] = '2020/2021'
s2122['season'] = '2021/2022'

In [5]:
all_csv = pd.concat([s1213, s1314, s1415, s1516, s1617, s1718, s1819, s1920, s2021, s2122])

In [6]:
df = all_csv[['season','Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
              'HS', 'AS', 'HST','AST','HC','AC', 'HF', 'AF', 'B365H', 'B365A', 'B365D', 
              'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA']].reset_index(drop=True)

In [7]:
df.head()

,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,...,B365D,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA
0,2012/2013,24/08/12,Dortmund,Werder Bremen,2,1,H,19,10,6,...,5.50,1.32,5.88,10.80,1.3,5.50,9.00,1.30,5.75,11.50
1,2012/2013,25/08/12,Augsburg,Fortuna Dusseldorf,0,2,A,16,9,4,...,3.50,2.08,3.52,3.92,2.1,3.40,3.40,2.05,3.50,3.90
2,2012/2013,25/08/12,Ein Frankfurt,Leverkusen,2,1,H,20,19,4,...,3.40,3.05,3.54,2.44,2.8,3.40,2.45,3.00,3.50,2.45
3,2012/2013,25/08/12,Freiburg,Mainz,1,1,D,8,8,4,...,3.30,2.62,3.41,2.90,2.6,3.20,2.75,2.60,3.40,2.88
4,2012/2013,25/08/12,Greuther Furth,Bayern Munich,0,3,A,6,19,2,...,4.75,8.69,5.09,1.41,7.5,4.75,1.40,8.50,5.00,1.40

In [8]:
df.tail()

,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,...,B365D,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA
3055,2021/2022,14/05/2022,Mainz,Ein Frankfurt,2,2,D,13,13,4,...,4.33,1.72,4.34,4.55,1.62,4.33,4.75,1.67,4.4,4.33
3056,2021/2022,14/05/2022,M'gladbach,Hoffenheim,5,1,H,19,10,9,...,4.33,2.06,4.41,3.17,2.05,4.20,3.00,2.00,4.4,3.00
3057,2021/2022,14/05/2022,Stuttgart,FC Koln,2,1,H,24,16,12,...,4.00,2.27,4.16,2.89,2.15,3.90,3.00,2.20,4.1,2.80
3058,2021/2022,14/05/2022,Union Berlin,Bochum,3,2,H,17,5,11,...,5.00,1.41,5.26,7.59,1.38,4.80,7.50,1.40,5.0,7.00
3059,2021/2022,14/05/2022,Wolfsburg,Bayern Munich,2,2,D,10,25,2,...,4.75,5.14,5.15,1.56,5.00,5.00,1.52,4.80,5.0,1.53

In [9]:
df.isnull().sum()

season      0
Date        0
HomeTeam    0
AwayTeam    0
FTHG        0
FTAG        0
FTR         0
HS          0
AS          0
HST         0
AST         0
HC          0
AC          0
HF          0
AF          0
B365H       0
B365A       0
B365D       0
PSH         1
PSD         1
PSA         1
WHH         1
WHD         1
WHA         1
VCH         0
VCD         0
VCA         0
dtype: int64

In [11]:
#We know that most of the times the books odds are almost the same. So we are going to replace the null values with the
#average of the 3 other sites odds
index = df.loc[df['PSH'].isnull()].index
    
df.loc[index,'PSH'] = (df.loc[index,'B365H'] + df.loc[index,'WHH'] + df.loc[index,'VCH'])/3
df.loc[index,'PSD'] = (df.loc[index,'B365D'] + df.loc[insdex,'WHD'] + df.loc[index,'VCD'])/3
df.loc[index,'PSA'] = (df.loc[index,'B365A'] + df.loc[index,'WHA'] + df.loc[index,'VCA'])/3
    
df['PSH'] = df['PSH'].round(2)
df['PSA'] = df['PSA'].round(2)
df['PSD'] = df['PSD'].round(2)

#We are going to do the same for the indexs with null values at the VCH, VCD, VCA columns
i= df.loc[df['WHH'].isnull()].index

df.loc[i,'WHH'] = (df.loc[i,'B365H'] + df.loc[i,'VCH'] + df.loc[i,'PSH'])/3
df.loc[i,'WHD'] = (df.loc[i,'B365D'] + df.loc[i,'VCD'] + df.loc[i,'PSD'])/3
df.loc[i,'WHA'] = (df.loc[i,'B365A'] + df.loc[i,'VCA'] + df.loc[i,'PSA'])/3

df['WHH'] = df['PSH'].round(2)
df['WHA'] = df['PSA'].round(2)
df['WHD'] = df['PSD'].round(2)

In [14]:
df['Date'] = pd.to_datetime(df['Date'],infer_datetime_format=True, format='%d/%m/%Y')

In [15]:
# Calculating the average of betting sites odd for each result
avgH = round((df['B365H'] + df['PSH'] + df['WHH'] + df['VCH'])/4,2)
avgD = round((df['B365D'] + df['PSD'] + df['WHD'] + df['VCD'])/4,2)
avgA = round((df['B365A'] + df['PSA'] + df['WHA'] + df['VCA'])/4,2)

df['AVGH'] = avgH
df['AVGD'] = avgD
df['AVGA'] = avgA

#drop the existing columns with betting odds
df = df.drop(['PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 
              'VCD', 'VCA', 'B365H', 'B365D', 'B365A'],axis=1)

In [16]:
#transformation of result into numeric type data
def result(row):
    if row['FTR'] == 'H':
        val = 1
    elif row['FTR'] == 'D':
        val = 0
    else:
        val = 2
    return val

df['Result'] = df.apply(result,axis=1)
df = df.drop('FTR',axis=1)

In [17]:
#Average of home and away goal depending stats of each team from fixture to fixture
df['HATT'] = df.groupby(['season','HomeTeam'])['FTHG'].apply(lambda x: x.shift().expanding().mean()).fillna(0)
df['HCONC'] = df.groupby(['season', 'HomeTeam'])['FTAG'].apply(lambda x: x.shift().expanding().mean()).fillna(0)
df['AATT'] = df.groupby(['season', 'AwayTeam'])['FTAG'].apply(lambda x: x.shift().expanding().mean()).fillna(0)
df['ACONC'] = df.groupby(['season', 'AwayTeam'])['FTHG'].apply(lambda x: x.shift().expanding().mean()).fillna(0)

In [18]:
def match_point(home_team, Result):
    if Result == 1:
        if home_team:
            return 3
        else:
            return 0
    elif Result == 2:
        if home_team:
            return 0
        else:
            return 3
    else:
        return 1

def team_points(df):
    teams = {key:[0] for key in df.HomeTeam.unique()}
  
    for i, row in df.iterrows():
    
        teams[row['HomeTeam']].append(teams[row['HomeTeam']][-1] + match_point(home_team=True, Result=row['Result']))
        teams[row['AwayTeam']].append(teams[row['AwayTeam']][-1] + match_point(home_team=False, Result=row['Result']))
    
    df['HomeTeamPoints'] = 0
    df['AwayTeamPoints'] = 0
    
    for i, row in df.iterrows():
    
        df.at[i, 'HomeTeamPoints'] = teams[row.HomeTeam].pop(0)
        df.at[i, 'AwayTeamPoints'] = teams[row.AwayTeam].pop(0)
  
    return df

In [19]:
s1213 = team_points(df.loc[df['season']=='2012/2013'])
s1314 = team_points(df.loc[df['season']=='2013/2014'])
s1415 = team_points(df.loc[df['season']=='2014/2015'])
s1516 = team_points(df.loc[df['season']=='2015/2016'])
s1617 = team_points(df.loc[df['season']=='2016/2017'])
s1718 = team_points(df.loc[df['season']=='2017/2018'])
s1819 = team_points(df.loc[df['season']=='2018/2019'])
s1920 = team_points(df.loc[df['season']=='2019/2020'])
s2021 = team_points(df.loc[df['season']=='2020/2021'])
s2122 = team_points(df.loc[df['season']=='2021/2022'])

In [20]:
from copy import deepcopy

def match_result(home_team, Result):
    if Result == 1:
        if home_team:
            return 'W'
        else:
            return 'L'
    elif Result == 2:
        if home_team:
            return 'L'
        else:
            return'W'
    else:
        return 'D'

def last_5_games_form(df):
    teams = {key:['NG'] for key in df.HomeTeam.unique()} #NG since in the begining of the season there is no game history
  
    for i, row in df.iterrows():
        teams[row['HomeTeam']].append(match_result(home_team = True, Result = row['Result']))
        teams[row['AwayTeam']].append(match_result(home_team = False, Result = row['Result']))
    
  
    teams2 = deepcopy(teams)
    teams3 = deepcopy(teams)
    teams4 = deepcopy(teams)
    teams5 = deepcopy(teams)   
    
    for key in teams:
        teams2[key].insert(0,'NG')
    
        teams3[key].insert(0,'NG')
        teams3[key].insert(0,'NG')
    
        teams4[key].insert(0,'NG')
        teams4[key].insert(0,'NG')
        teams4[key].insert(0,'NG')
    
        teams5[key].insert(0,'NG')
        teams5[key].insert(0,'NG')
        teams5[key].insert(0,'NG')
        teams5[key].insert(0,'NG')

  # initialize last 5 games to 'M'
    for i in range(1, 6):
        df['HM' + str(i)] = 'NG'
        df['AM' + str(i)] = 'NG'
  
    for i, row in df.iterrows():
    
        df.at[i, 'HM5'] = teams5[row['HomeTeam']].pop(0)
        df.at[i, 'HM4'] = teams4[row['HomeTeam']].pop(0)
        df.at[i, 'HM3'] = teams3[row['HomeTeam']].pop(0)
        df.at[i, 'HM2'] = teams2[row['HomeTeam']].pop(0)
        df.at[i, 'HM1'] = teams[row['HomeTeam']].pop(0)
    
        df.at[i, 'AM5'] = teams5[row['AwayTeam']].pop(0)
        df.at[i, 'AM4'] = teams4[row['AwayTeam']].pop(0)
        df.at[i, 'AM3'] = teams3[row['AwayTeam']].pop(0)
        df.at[i, 'AM2'] = teams2[row['AwayTeam']].pop(0)
        df.at[i, 'AM1'] = teams[row['AwayTeam']].pop(0)
  
    return df

In [21]:
s1213 = last_5_games_form(s1213)
s1314 = last_5_games_form(s1314)
s1415 = last_5_games_form(s1415)
s1516 = last_5_games_form(s1516)
s1617 = last_5_games_form(s1617)
s1718 = last_5_games_form(s1718)
s1819 = last_5_games_form(s1819)
s1920 = last_5_games_form(s1920)
s2021 = last_5_games_form(s2021)
s2122 = last_5_games_form(s2122)

In [22]:
df = pd.concat([s1213 , s1314, s1415, s1516, s1617, s1718, s1819, s1920, s2021, s2122])

In [23]:
df['HomeTeamForm'] = df['HM1'] + df['HM2'] + df['HM3'] + df['HM4'] + df['HM5']
df['AwayTeamForm'] = df['AM1'] + df['AM2'] + df['AM3'] + df['AM4'] + df['AM5']

df = df.drop(['HM1', 'HM2', 'HM3', 'HM4', 'HM5', 'AM1', 'AM2', 'AM3', 'AM4', 'AM5'], axis=1)

In [24]:
df.to_csv("bundesliga.csv")